.colors{
	color: #9398F3;
	color: #F03BD6;
	color: #FFC2FF;
	color: #EBEBF3;
	color: #D9AE83;
}



.chara_cont{
	position: relative;
}

.chara_items{
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.chara_item{
	position: relative;
}

.chara_item:hover .chara_up{
	visibility: visible;
}

.chara_item:hover .chara_down{
	visibility: visible;
}

.chara_item:first-of-type .chara_name{
	border-radius: 20px 5px 5px 10px;
}

.chara_item:first-of-type .chara_value{
	border-radius: 5px 20px 10px 5px;
}

.chara_name{
	background: #9398F3;
	color: #ffffff;
	border: 5px solid #FFC2FF;
	border-radius: 10px 5px 5px 10px;
	padding: 10px;
	margin: 2px;
	width: 150px;
}

.chara_value{
	background: #9398F3;
	color: #ffffff;
	border: 5px solid #FFC2FF;
	border-radius: 5px 10px 10px 5px;
	padding: 10px;
	margin: 2px;
	width: 50px;
}

.chara_del{
	background: #9398F3;
	color: #ffffff;
	border: 5px solid #FFC2FF;
	border-radius: 50%;
	padding: 1px 5px;
	margin: 2px;
}

.chara_up{
	background: #9398F3;
	color: #ffffff;
	border: 5px solid #FFC2FF;
	border-radius: 50%;
	padding: 1px 5px;
	margin: 2px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.chara_down{
	background: #9398F3;
	color: #ffffff;
	border: 5px solid #FFC2FF;
	border-radius: 50%;
	padding: 1px 5px;
	margin: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}